<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>New request</title>
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="import" href="menu.html">
	<script src="../../js/dynamicstyle.js"></script>

</head>
<!--JS function in the body tag loads the nav and sidebar-->

<body onload="loadMenu()">
	<!--Main section of page begins at this div-->
	<!--Form to input new requests-->
	<div class="form3 animated fadeIn">
		<div>
			<ul class="tab-group">
				<li class="tab active" id="signup-tab"><a href="#signup" onclick="displayFormSignup()">Summarised</a></li>
				<li class="tab" id="login-tab"><a href="#login" onclick="displayFormLogin()">Details</a></li>
			</ul>
			<!--Beginning of form content-->
			<div class="tab-content">
				<div id="signup">
					<h1>Short Request Summary</h1>
					<form action="#" method="post">

						<div class="field-wrap">

							<input type="text" placeholder="Request Title" required autocomplete="off" />
						</div>

						<div class="field-wrap">

							<input type="text" placeholder="Short Description" required autocomplete="off" />
						</div>

						<input type="submit" class="button button-block" />

					</form>

				</div>
				<!--end of first part of the form-->
				<!--Details form-->
				<div id="login">
					<h1>Need to give more details?</h1>
					<form action="submitrequest.php" method="post">
						<div class="field-wrap">
							<textarea name="" id="" cols="30" rows="5"></textarea>
						</div>

						<input type="submit" class="button button-block" />

					</form>

				</div>

			</div>
			<!-- tab-content -->
		</div>
	</div>
	<!-- /form -->


	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>





</body>

</html>